# Visual Studio 相关文件
.vs/
**/.vs/

# JSON 文件 (除了配置文件)
*.json
!global.json
!NuGet.config
/schedule_grouped.json

# WebDriver 文件
/msedgedriver.zip
/msedgedriver.exe

# .NET 构建产物
**/bin/
**/obj/
**/Debug/
**/Release/

# Backend 构建产物
/Backend/build/
/Backend/dist/
Backend/*.exe
Backend/dist/*.exe

# Python 相关文件
*.spec
**/__pycache__/
*.pyc
*.pyo

# 项目用户配置文件
*.csproj.user

# Copilot 缓存文件
**/copilot-chat/
