################################################################################
# 此 .gitignore 文件已由 Microsoft(R) Visual Studio 自动创建。
################################################################################

/.vs
/msedgedriver.zip
/schedule_grouped.json
*.json
/msedgedriver.exe
/msedgedriver.exe
/msedgedriver.exe
/msedgedriver.exe
