# Build results
[Dd]ebug/
[Dd]ebugPublic/
[Rr]elease/
[Rr]eleases/
x64/
x86/
[Aa][Rr][Mm]/
[Aa][Rr][Mm]64/
bld/
[Bb]in/
[Oo]bj/
[Ll]og/

# Visual Studio
.vs/

# MAUI specific
*.apk
*.aab
*.ipa
*.app

# User-specific files
*.rsuser
*.suo
*.user
*.userosscache
*.sln.docstates

# Temporary files
*~
*.tmp
*.swp
*.log

# NuGet Packages
packages/
*.nupkg
*.snupkg

# Visual Studio Code
.vscode/